.container {
    position        : relative;
    text-align      : center;
    background-color: white;
    max-width       : 1920px;
    color           : black;

    .header_food {
        width    : 100%;
        max-width: 1920px;
        height   : auto;
    }

    .centered {
        position   : absolute;
        top        : 50%;
        left       : 50%;
        transform  : translate(-50%, -50%);
        font-family: 'Times New Roman', Times, serif;
        font-size  : 50px;
    }

    .centered a {
        text-decoration: none;
        color          : white;
        font-family    : 'Times New Roman', Times, serif;
    }

    .logo img {
        position: absolute;
        top     : 8px;
        left    : 16px;
        width   : 182px;
    }

    #content {
        padding-top: 7%;

        .message {
            padding-bottom: 1%;
            color         : red;
        }
    }

    #content-contact {
        padding-top: 10%;
        width      : 70%;
        margin     : auto;

        p {
            text-align: center;
        }
    }

    .column {
        float: left;
        width: 50%;
    }

    .contact {
        padding-top: 3%;
        width      : 70%;
        margin     : auto;

        .column-contact {
            float : left;
            width : 50%;
            margin: auto;

            h1,
            h2 {
                font-size: 24px;
            }
        }
    }

}

//---------------------------------MOBILE-------------------------//
@media only screen and (min-width:300px) and (max-width: 600px) {
    .header_phone {
        max-width: 100%;
        height   : auto;
    }

    .header,
    .header_tablet,
    .header_bigphone {
        display: none;
    }

    .centered a {
        font-size: 45px;
    }

    .container {
        #content-contact {
            width      : 100%;
            padding-top: 20%;
        }
    }

    .container {
        .contact {
            width: 100%;

            .column-contact {
                float  : none;
                display: block;
            }
        }
    }

    #menu-mobile {
        display: block;

        .icon {
            float        : right;
            padding-top  : 10px;
            padding-right: 20px;
            font-size    : 30px;
            color        : #000000;
        }
    }

    #menu {
        display: none;
    }

    .container {
        .row {
            .column {
                float  : none;
                display: block;
                width  : 100%;
                margin : auto;
            }

        }
    }

    .container {
        #content {
            padding-top: 20%;
        }
    }

}

//---------------------------------BIG MOBILE-------------------------//
@media only screen and (min-width: 601px) and (max-width: 799px) {
    .header_bigphone {
        max-width: 100%;
        height   : auto;
    }

    .header_phone,
    .header,
    .header_tablet {
        display: none;
    }

    .centered a {
        font-size: 70px;
    }

    #menu-mobile {
        display: block;

        .icon {
            float        : right;
            padding-top  : 10px;
            padding-right: 20px;
            font-size    : 30px;
            color        : #000000;
        }
    }

    #menu {
        display: none;
    }

    #links-mobile {
        display      : none;
        text-align   : center;
        border-bottom: 1px solid #333333;
        font-family  : 'Times New Roman', Times, serif;
        padding-top  : 15%;
        font-size    : 24px;
        line-height  : 35px;

        ul {
            list-style-type: none;
            border-top     : 1px solid #333333;
            padding-top    : 3%;
        }

        a {
            text-decoration: none;
            color          : #707070;
        }

        a.current {
            text-decoration: underline;
        }
    }
}

//---------------------------------TABLET-------------------------//
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .header_tablet {
        max-width: 100%;
        height   : auto;
    }

    .header_phone,
    .header,
    .header_bigphone {
        display: none;
    }

    .centered a {
        font-size: 80px;
    }

    #links-mobile {
        display: none;
    }

    #menu-mobile {
        display: none;
    }
}

//---------------------------------DESKTOP-------------------------//
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
    .header {
        max-width: 100%;
        height   : auto;
    }

    .header_phone,
    .header_tablet,
    .header_bigphone {
        display: none;
    }

    .centered a {
        font-size: 100px;
    }

    #links-mobile {
        display: none;
    }

    #menu-mobile {
        display: none;
    }

    #menu {
        display: block;
    }
}

